
/*Header*/
.main-nav {
  background-color: #E7D4E6;
  padding: 15px 0;
}

.main-nav .nav-link {
  color: #000;
  font-weight: 500;
  margin-right: 20px;
}

.main-nav &:hover {
  color: #742C7E;
}

.main-nav .search-bar {
  width: 350px;
}

.main-nav input {
 border-radius: 20px;
 padding-left: 15px;
}

.main-nav a {
  font-size: 1rem;
  margin-left: 15px;
  color: #000;
}

.main-nav .navbar-brand img {
  max-height: 45px;
}

.navbar-nav .nav-link .nav-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 50px;

}


/*Hero section*/
#hero {
  height: 500px;
  background-color: #E4E6DB;
  background-image: url(../images/bed-products-2.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  position: relative;
  z-index: 2;
}

#hero .btn {
  background-color: #70367B;  
  border-color: #70367B;
  color: #ffff;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 500;
}


/*Promo banners*/
.promo-banner {
  background-color: #421052; 
  padding: 10px 0;
}

.promo-banner p {
   color: white;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/*About us section*/
.about-section {
  background-color: #70367B;
  padding: 20px 0;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.about-section p {
  line-height: 1.7;
  font-size: 1rem;
}
.about-section .btn {
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 500;
}
