


#hero {
  height: 500px;
  background-color: #E4E6DB;
  background-image: url(../images/bed-products-2.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}