/*Header*/
.main-nav {
  background-color: #E7D4E6;
  padding: 15px 0;
}

.main-nav .nav-link {
  color: #000;
  font-weight: 500;
  margin-right: 20px;
}

.main-nav &:hover {
  color: #742C7E;
}

.main-nav .search-bar {
  width: 350px;
}

.main-nav input {
 border-radius: 20px;
 padding-left: 15px;
}

.main-nav a {
  font-size: 1rem;
  margin-left: 15px;
  color: #000;
}

.main-nav .navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link .nav-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 50px;

}

/*Contacts page*/

/*Hero*/
#hero-contacts {
  background-color: #70367B;
  color: #fff;
}

/*Similar questions section*/
.question-card {
  background-color: #F3E6FF;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;
}

.btn-light {
  background-color: #4B176A; 
  color: #fff;
  border-radius: 40px;        
  padding: 0.45rem 1.4rem;
  font-weight: 500;
  border: none;
}

/*Keep in touch*/
.in-touch {
  background-color: #70367B;
  padding: 20px 0;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.about-section p {
  line-height: 1.7;
  font-size: 1rem;
}
.about-section .btn {
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 500;
}




/*Footer*/
#footer {
background-color: #E7D4E6;
padding: 3rem;
padding-bottom: 3rem;
}

.footer-logo {
  width: 220px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icons .footer-links {
  justify-content: flex-end;
}